/* LAST RULE */
/* p{
    color:red;
}
p{
    color:aqua;
} */

/* SPECIFICITY */
/* *{
    color:blue;
}
p{
    color:yellowgreen
}
p#intro{
    color:brown;
} */

/* IMPORTANT */
/*  
 *{
    color:blue; !important
}
p{
    color:yellowgreen 
}
p#intro{
    color:brown;
/* } 
/* -------------------------------------------------------------------------- */
/* INHERITANCE */
body{
    color:rgb(75, 233, 35);
    border: 1px solid red;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(240, 217, 189);
    padding: inherit;
    border: 1px solid green;
}